{
  "swagger": "2.0",
  "info": {
    "version": "",
    "title": "Coupa API",
    "description": "RESTful API that provides robust access to read, edit, or integrate your data with the Coupa platform. The [JSON](/api_docs/20.json) and [YAML](/api_docs/20.yaml) are also available.  To test with OAuth2 OAuth2AccessCode, make sure to include https://r39.coupadev.com/oauth2-redirect.html in the client's Redirect URI list"
  },
  "host": "r39.coupadev.com",
  "basePath": "/api",
  "tags": [
    {
      "name": "CoupaPay-Payment",
      "description": "Coupa Pay Payments API"
    }
  ],
  "schemes": [
    "https"
  ],
  "security": [
    {
      "OAuth2AccessCode": []
    },
    {
      "OAuth2ClientCredential": []
    }
  ],
  "paths": {
    "/coupa_pay/payments/{id}/export": {
      "put": {
        "tags": [
          "CoupaPay-Payment"
        ],
        "summary": "Mark transaction as exported",
        "description": "Mark transaction as exported",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "CoupaPay-Payment",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CoupaPay-Payment"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "return_object",
            "type": "string",
            "required": false,
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "CoupaPay-Payment object",
            "schema": {
              "items": {
                "$ref": "#/definitions/CoupaPay-Payment"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/coupa_pay/payments": {
      "get": {
        "tags": [
          "CoupaPay-Payment"
        ],
        "summary": "Query Payments",
        "description": "Query Payments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "type": "integer",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "type": "integer",
            "required": false
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "in": "query",
            "name": "return_object",
            "type": "string",
            "required": false,
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "CoupaPay-Payment objects",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CoupaPay-Payment"
              },
              "xml": {
                "name": "coupa-pay-payments",
                "wrapped": true
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/coupa_pay/payments/{id}": {
      "get": {
        "tags": [
          "CoupaPay-Payment"
        ],
        "summary": "Show Payments",
        "description": "Show Payments",
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "integer",
            "required": false
          },
          {
            "in": "query",
            "name": "offset",
            "type": "integer",
            "required": false
          },
          {
            "in": "query",
            "name": "order_by",
            "type": "string",
            "required": false
          },
          {
            "in": "query",
            "name": "dir",
            "type": "string",
            "required": false,
            "enum": [
              "asc",
              "desc"
            ]
          },
          {
            "in": "query",
            "name": "return_object",
            "type": "string",
            "required": false,
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "CoupaPay-Payment object",
            "schema": {
              "$ref": "#/definitions/CoupaPay-Payment"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "CoupaPay-Payment"
        ],
        "summary": "Update Payment",
        "description": "Update Payment",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "CoupaPay-Payment",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CoupaPay-Payment"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "return_object",
            "type": "string",
            "required": false,
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "CoupaPay-Payment object",
            "schema": {
              "items": {
                "$ref": "#/definitions/CoupaPay-Payment"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "put": {
        "tags": [
          "CoupaPay-Payment"
        ],
        "summary": "Update Payment",
        "description": "Update Payment",
        "consumes": [
          "application/xml",
          "application/json"
        ],
        "produces": [
          "application/xml",
          "application/json"
        ],
        "parameters": [
          {
            "name": "CoupaPay-Payment",
            "in": "body",
            "required": false,
            "schema": {
              "$ref": "#/definitions/CoupaPay-Payment"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "type": "integer"
          },
          {
            "in": "query",
            "name": "return_object",
            "type": "string",
            "required": false,
            "enum": [
              "limited",
              "shallow",
              "none"
            ]
          },
          {
            "in": "query",
            "name": "filter",
            "type": "string",
            "required": false
          }
        ],
        "responses": {
          "200": {
            "description": "CoupaPay-Payment object",
            "schema": {
              "items": {
                "$ref": "#/definitions/CoupaPay-Payment"
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    }
  },
  "securityDefinitions": {
    "OAuth2ClientCredential": {
      "type": "oauth2",
      "flow": "application",
      "tokenUrl": "https://r39.coupadev.com/oauth2/access_tokens",
      "scopes": {
        "core.pay.payments.read": "Allows Coupa Pay payments to be read",
        "core.pay.payments.write": "Allows Coupa Pay payments to be modified"
      }
    },
    "OAuth2AccessCode": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://r39.coupadev.com/oauth2/authorizations/new",
      "tokenUrl": "https://r39.coupadev.com/oauth2/token",
      "scopes": {
        "core.pay.payments.read": "Allows Coupa Pay payments to be read",
        "core.pay.payments.write": "Allows Coupa Pay payments to be modified"
      }
    }
  },
  "definitions": {
    "Account": {
      "type": "object",
      "properties": {
        "account-type": {
          "$ref": "#/definitions/AccountType"
        },
        "account-type-id": {
          "type": "integer",
          "description": "Account Type Id",
          "format": "integer",
          "readOnly": true
        },
        "active": {
          "type": "boolean",
          "description": "A false value will inactivate the account making it no longer available to users.  A true value will make it active and available to users.",
          "format": "boolean"
        },
        "code": {
          "type": "string",
          "description": "All segments concatenated with a hyphen ( - )",
          "format": "string(1024)",
          "readOnly": true
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "This is the nickname for the account.  Users can view and search against this field through the user interface.",
          "format": "string(1024)"
        },
        "segment-1": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-10": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-11": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-12": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-13": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-14": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-15": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-16": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-17": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-18": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-19": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-2": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-20": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-3": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-4": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-5": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-6": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-7": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-8": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "segment-9": {
          "type": "string",
          "description": "Each segment represents the segment of the account code (e.g. code: 99-9023-100132, where segment-1 is 99, segment-2 is 9023, and segment-3 is 100132)",
          "format": "string(100)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "account-type"
      ]
    },
    "AccountGroup": {
      "type": "object",
      "properties": {
        "account-group-type": {
          "type": "integer",
          "description": "Type",
          "format": "integer",
          "enum": [
            "1",
            "2"
          ]
        },
        "account-type": {
          "$ref": "#/definitions/AccountType"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(80)"
        },
        "segment-10-col": {
          "type": "string",
          "description": "segment_10_col",
          "format": "string(255)"
        },
        "segment-10-op": {
          "type": "string",
          "description": "segment_10_op",
          "format": "string(255)"
        },
        "segment-10-val": {
          "type": "string",
          "description": "segment_10_val",
          "format": "string(255)"
        },
        "segment-11-col": {
          "type": "string",
          "description": "segment_11_col",
          "format": "string(255)"
        },
        "segment-11-op": {
          "type": "string",
          "description": "segment_11_op",
          "format": "string(255)"
        },
        "segment-11-val": {
          "type": "string",
          "description": "segment_11_val",
          "format": "string(255)"
        },
        "segment-12-col": {
          "type": "string",
          "description": "segment_12_col",
          "format": "string(255)"
        },
        "segment-12-op": {
          "type": "string",
          "description": "segment_12_op",
          "format": "string(255)"
        },
        "segment-12-val": {
          "type": "string",
          "description": "segment_12_val",
          "format": "string(255)"
        },
        "segment-13-col": {
          "type": "string",
          "description": "segment_13_col",
          "format": "string(255)"
        },
        "segment-13-op": {
          "type": "string",
          "description": "segment_13_op",
          "format": "string(255)"
        },
        "segment-13-val": {
          "type": "string",
          "description": "segment_13_val",
          "format": "string(255)"
        },
        "segment-14-col": {
          "type": "string",
          "description": "segment_14_col",
          "format": "string(255)"
        },
        "segment-14-op": {
          "type": "string",
          "description": "segment_14_op",
          "format": "string(255)"
        },
        "segment-14-val": {
          "type": "string",
          "description": "segment_14_val",
          "format": "string(255)"
        },
        "segment-15-col": {
          "type": "string",
          "description": "segment_15_col",
          "format": "string(255)"
        },
        "segment-15-op": {
          "type": "string",
          "description": "segment_15_op",
          "format": "string(255)"
        },
        "segment-15-val": {
          "type": "string",
          "description": "segment_15_val",
          "format": "string(255)"
        },
        "segment-16-col": {
          "type": "string",
          "description": "segment_16_col",
          "format": "string(255)"
        },
        "segment-16-op": {
          "type": "string",
          "description": "segment_16_op",
          "format": "string(255)"
        },
        "segment-16-val": {
          "type": "string",
          "description": "segment_16_val",
          "format": "string(255)"
        },
        "segment-17-col": {
          "type": "string",
          "description": "segment_17_col",
          "format": "string(255)"
        },
        "segment-17-op": {
          "type": "string",
          "description": "segment_17_op",
          "format": "string(255)"
        },
        "segment-17-val": {
          "type": "string",
          "description": "segment_17_val",
          "format": "string(255)"
        },
        "segment-18-col": {
          "type": "string",
          "description": "segment_18_col",
          "format": "string(255)"
        },
        "segment-18-op": {
          "type": "string",
          "description": "segment_18_op",
          "format": "string(255)"
        },
        "segment-18-val": {
          "type": "string",
          "description": "segment_18_val",
          "format": "string(255)"
        },
        "segment-19-col": {
          "type": "string",
          "description": "segment_19_col",
          "format": "string(255)"
        },
        "segment-19-op": {
          "type": "string",
          "description": "segment_19_op",
          "format": "string(255)"
        },
        "segment-19-val": {
          "type": "string",
          "description": "segment_19_val",
          "format": "string(255)"
        },
        "segment-1-col": {
          "type": "string",
          "description": "segment_1_col",
          "format": "string(255)"
        },
        "segment-1-op": {
          "type": "string",
          "description": "segment_1_op",
          "format": "string(255)"
        },
        "segment-1-val": {
          "type": "string",
          "description": "segment_1_val",
          "format": "string(255)"
        },
        "segment-20-col": {
          "type": "string",
          "description": "segment_20_col",
          "format": "string(255)"
        },
        "segment-20-op": {
          "type": "string",
          "description": "segment_20_op",
          "format": "string(255)"
        },
        "segment-20-val": {
          "type": "string",
          "description": "segment_20_val",
          "format": "string(255)"
        },
        "segment-2-col": {
          "type": "string",
          "description": "segment_2_col",
          "format": "string(255)"
        },
        "segment-2-op": {
          "type": "string",
          "description": "segment_2_op",
          "format": "string(255)"
        },
        "segment-2-val": {
          "type": "string",
          "description": "segment_2_val",
          "format": "string(255)"
        },
        "segment-3-col": {
          "type": "string",
          "description": "segment_3_col",
          "format": "string(255)"
        },
        "segment-3-op": {
          "type": "string",
          "description": "segment_3_op",
          "format": "string(255)"
        },
        "segment-3-val": {
          "type": "string",
          "description": "segment_3_val",
          "format": "string(255)"
        },
        "segment-4-col": {
          "type": "string",
          "description": "segment_4_col",
          "format": "string(255)"
        },
        "segment-4-op": {
          "type": "string",
          "description": "segment_4_op",
          "format": "string(255)"
        },
        "segment-4-val": {
          "type": "string",
          "description": "segment_4_val",
          "format": "string(255)"
        },
        "segment-5-col": {
          "type": "string",
          "description": "segment_5_col",
          "format": "string(255)"
        },
        "segment-5-op": {
          "type": "string",
          "description": "segment_5_op",
          "format": "string(255)"
        },
        "segment-5-val": {
          "type": "string",
          "description": "segment_5_val",
          "format": "string(255)"
        },
        "segment-6-col": {
          "type": "string",
          "description": "segment_6_col",
          "format": "string(255)"
        },
        "segment-6-op": {
          "type": "string",
          "description": "segment_6_op",
          "format": "string(255)"
        },
        "segment-6-val": {
          "type": "string",
          "description": "segment_6_val",
          "format": "string(255)"
        },
        "segment-7-col": {
          "type": "string",
          "description": "segment_7_col",
          "format": "string(255)"
        },
        "segment-7-op": {
          "type": "string",
          "description": "segment_7_op",
          "format": "string(255)"
        },
        "segment-7-val": {
          "type": "string",
          "description": "segment_7_val",
          "format": "string(255)"
        },
        "segment-8-col": {
          "type": "string",
          "description": "segment_8_col",
          "format": "string(255)"
        },
        "segment-8-op": {
          "type": "string",
          "description": "segment_8_op",
          "format": "string(255)"
        },
        "segment-8-val": {
          "type": "string",
          "description": "segment_8_val",
          "format": "string(255)"
        },
        "segment-9-col": {
          "type": "string",
          "description": "segment_9_col",
          "format": "string(255)"
        },
        "segment-9-op": {
          "type": "string",
          "description": "segment_9_op",
          "format": "string(255)"
        },
        "segment-9-val": {
          "type": "string",
          "description": "segment_9_val",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "account-group-type",
        "account-type",
        "name"
      ]
    },
    "AccountType": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A false value will inactivate the chart of account making it no longer available to users.  A true value will make it active and available to users.",
          "format": "boolean"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        },
        "dynamic-flag": {
          "type": "boolean",
          "description": "Boolean value for determing if account type is dynamic",
          "format": "boolean",
          "readOnly": true
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "legal-entity-name": {
          "type": "string",
          "description": "Legal entity or entities that are associated with this chart of accounts",
          "format": "string",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(50)"
        },
        "primary-address": {
          "$ref": "#/definitions/Address"
        },
        "primary-contact": {
          "$ref": "#/definitions/Contact"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "currency",
        "name"
      ]
    },
    "Address": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A no value will make the address inactive making it no longer available to users.  A yes value will make it active and available to users.",
          "format": "boolean"
        },
        "attention": {
          "type": "string",
          "description": "Address Default Attention Line",
          "format": "string(255)"
        },
        "business-group-name": {
          "type": "string",
          "description": "Content Group Name for Address",
          "format": "string"
        },
        "city": {
          "type": "string",
          "description": "City Name",
          "format": "string(255)"
        },
        "content-groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BusinessGroup"
          }
        },
        "country": {
          "$ref": "#/definitions/Country"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "external-src-name": {
          "type": "string",
          "description": "External Source Name",
          "format": "string(255)"
        },
        "external-src-ref": {
          "type": "string",
          "description": "External Source Reference",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa Internal Address ID",
          "format": "integer",
          "readOnly": true
        },
        "local-tax-number": {
          "type": "string",
          "description": "Local Tax Number",
          "format": "string(255)"
        },
        "location-code": {
          "type": "string",
          "description": "location_code",
          "format": "string(255)"
        },
        "name": {
          "type": "string",
          "description": "Address 'Nickname'",
          "format": "string(255)"
        },
        "postal-code": {
          "type": "string",
          "description": "Postal Code",
          "format": "string(255)"
        },
        "purposes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        },
        "state": {
          "type": "string",
          "description": "State Name for Address",
          "format": "string(255)"
        },
        "state-iso-code": {
          "type": "string",
          "description": "ISO Code for the State",
          "format": "string(255)"
        },
        "street1": {
          "type": "string",
          "description": "Address Line 1",
          "format": "string(255)"
        },
        "street2": {
          "type": "string",
          "description": "Address Line 2",
          "format": "string(255)"
        },
        "street3": {
          "type": "string",
          "description": "Address Line 3",
          "format": "string(255)"
        },
        "street4": {
          "type": "string",
          "description": "Address Line 4",
          "format": "string(255)"
        },
        "tax-registrations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "type": {
          "type": "string",
          "description": "Address type",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "vat-country": {
          "$ref": "#/definitions/Country"
        },
        "vat-number": {
          "type": "string",
          "description": "VAT identification number used for value added tax purposes",
          "format": "string(255)"
        }
      },
      "required": [
        "city",
        "country",
        "local-tax-number",
        "postal-code",
        "street1"
      ]
    },
    "ApprovalLimit": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "number",
          "description": "amount",
          "format": "decimal(32,4)"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(255)"
        },
        "subject": {
          "type": "string",
          "description": "subject",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "amount",
        "currency",
        "name"
      ]
    },
    "BillToAddress": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A no value will make the address inactive making it no longer available to users.  A yes value will make it active and available to users.",
          "format": "boolean"
        },
        "attention": {
          "type": "string",
          "description": "Address Default Attention Line",
          "format": "string(255)"
        },
        "business-group-name": {
          "type": "string",
          "description": "Content Group Name for Address",
          "format": "string"
        },
        "city": {
          "type": "string",
          "description": "City Name",
          "format": "string(255)"
        },
        "content-groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BusinessGroup"
          }
        },
        "country": {
          "$ref": "#/definitions/Country"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "external-src-name": {
          "type": "string",
          "description": "External Source Name",
          "format": "string(255)"
        },
        "external-src-ref": {
          "type": "string",
          "description": "External Source Reference",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa Internal Address ID",
          "format": "integer",
          "readOnly": true
        },
        "local-tax-number": {
          "type": "string",
          "description": "Local Tax Number",
          "format": "string(255)"
        },
        "location-code": {
          "type": "string",
          "description": "location_code",
          "format": "string(255)"
        },
        "name": {
          "type": "string",
          "description": "Address 'Nickname'",
          "format": "string(255)"
        },
        "postal-code": {
          "type": "string",
          "description": "Postal Code",
          "format": "string(10)"
        },
        "purposes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        },
        "state": {
          "type": "string",
          "description": "State Name for Address",
          "format": "string(255)"
        },
        "state-iso-code": {
          "type": "string",
          "description": "ISO Code for the State",
          "format": "string(255)"
        },
        "street1": {
          "type": "string",
          "description": "Address Line 1",
          "format": "string(255)"
        },
        "street2": {
          "type": "string",
          "description": "Address Line 2",
          "format": "string(255)"
        },
        "street3": {
          "type": "string",
          "description": "Address Line 3",
          "format": "string(255)"
        },
        "street4": {
          "type": "string",
          "description": "Address Line 4",
          "format": "string(255)"
        },
        "tax-registrations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "type": {
          "type": "string",
          "description": "Address type",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "vat-country": {
          "$ref": "#/definitions/Country"
        },
        "vat-number": {
          "type": "string",
          "description": "VAT identification number used for value added tax purposes",
          "format": "string(255)"
        }
      },
      "required": [
        "city",
        "country",
        "local-tax-number",
        "postal-code",
        "street1"
      ]
    },
    "BusinessGroup": {
      "type": "object",
      "properties": {
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "description": {
          "type": "string",
          "description": "description",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(100)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "name"
      ]
    },
    "Contact": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Active",
          "format": "boolean",
          "readOnly": true
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "email": {
          "type": "string",
          "description": "email",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name-additional": {
          "type": "string",
          "description": "name_additional",
          "format": "string(255)"
        },
        "name-family": {
          "type": "string",
          "description": "name_family",
          "format": "string(255)"
        },
        "name-fullname": {
          "type": "string",
          "description": "name_fullname",
          "format": "string(255)",
          "readOnly": true
        },
        "name-given": {
          "type": "string",
          "description": "name_given",
          "format": "string(255)"
        },
        "name-prefix": {
          "type": "string",
          "description": "name_prefix",
          "format": "string(255)"
        },
        "name-suffix": {
          "type": "string",
          "description": "name_suffix",
          "format": "string(255)"
        },
        "notes": {
          "type": "string",
          "description": "notes",
          "format": "text"
        },
        "phone-fax": {
          "$ref": "#/definitions/PhoneNumber"
        },
        "phone-mobile": {
          "$ref": "#/definitions/PhoneNumber"
        },
        "phone-work": {
          "$ref": "#/definitions/PhoneNumber"
        },
        "photo": {
          "type": "string",
          "description": "photo",
          "format": "string(255)"
        },
        "purposes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      }
    },
    "CounterpartyAddress": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A no value will make the address inactive making it no longer available to users.  A yes value will make it active and available to users.",
          "format": "boolean"
        },
        "attention": {
          "type": "string",
          "description": "Address Default Attention Line",
          "format": "string(255)"
        },
        "business-group-name": {
          "type": "string",
          "description": "Content Group Name for Address",
          "format": "string"
        },
        "city": {
          "type": "string",
          "description": "City Name",
          "format": "string(255)"
        },
        "content-groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BusinessGroup"
          }
        },
        "country": {
          "$ref": "#/definitions/Country"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "external-src-name": {
          "type": "string",
          "description": "External Source Name",
          "format": "string(255)"
        },
        "external-src-ref": {
          "type": "string",
          "description": "External Source Reference",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa Internal Address ID",
          "format": "integer",
          "readOnly": true
        },
        "local-tax-number": {
          "type": "string",
          "description": "Local Tax Number",
          "format": "string(255)"
        },
        "location-code": {
          "type": "string",
          "description": "location_code",
          "format": "string(255)"
        },
        "name": {
          "type": "string",
          "description": "Address 'Nickname'",
          "format": "string(255)"
        },
        "postal-code": {
          "type": "string",
          "description": "Postal Code",
          "format": "string(255)"
        },
        "purposes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        },
        "state": {
          "type": "string",
          "description": "State Name for Address",
          "format": "string(255)"
        },
        "state-iso-code": {
          "type": "string",
          "description": "ISO Code for the State",
          "format": "string(255)"
        },
        "street1": {
          "type": "string",
          "description": "Address Line 1",
          "format": "string(255)"
        },
        "street2": {
          "type": "string",
          "description": "Address Line 2",
          "format": "string(255)"
        },
        "street3": {
          "type": "string",
          "description": "Address Line 3",
          "format": "string(255)"
        },
        "street4": {
          "type": "string",
          "description": "Address Line 4",
          "format": "string(255)"
        },
        "tax-registrations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "type": {
          "type": "string",
          "description": "Address type",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "vat-country": {
          "$ref": "#/definitions/Country"
        },
        "vat-number": {
          "type": "string",
          "description": "VAT identification number used for value added tax purposes",
          "format": "string(255)"
        }
      },
      "required": [
        "city",
        "country",
        "local-tax-number",
        "postal-code",
        "street1"
      ]
    },
    "Country": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "code",
          "format": "string(4)"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "readOnly": true
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(100)"
        },
        "translated-name": {
          "type": "string",
          "description": "Translated name",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "readOnly": true
        }
      },
      "required": [
        "code"
      ]
    },
    "CoupaPay-CompanyPaymentAccount": {
      "type": "object",
      "properties": {
        "account-kind": {
          "type": "string",
          "description": "Account kind",
          "format": "string(255)",
          "enum": [
            "bank",
            "virtual_card",
            "digital_wallet"
          ]
        },
        "account-name": {
          "type": "string",
          "description": "Account name",
          "format": "string(255)"
        },
        "account-type-ids": {
          "type": "string",
          "description": "Account type ids",
          "format": "[]"
        },
        "account-types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AccountType"
          }
        },
        "coupa-pay-id": {
          "type": "integer",
          "description": "Coupa pay",
          "format": "integer"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        },
        "digital-check-signature-viewpost-status": {
          "type": "string",
          "description": "Digital check signature viewpost status",
          "format": "string(255)",
          "enum": [
            "not_used",
            "send_pending",
            "pending_response",
            "active",
            "rejected"
          ]
        },
        "document-types": {
          "type": "string",
          "description": "Document types",
          "format": "[]"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "payment-option": {
          "type": "string",
          "description": "Payment option",
          "format": "string(255)",
          "enum": [
            "direct_debit",
            "direct_bank_integration",
            "digital_check",
            "push",
            "paypal"
          ]
        },
        "payment-partner": {
          "$ref": "#/definitions/CoupaPay-PaymentPartner"
        },
        "physical-check-signature-presence": {
          "type": "boolean",
          "description": "Physical check signature presence",
          "format": "boolean"
        },
        "source-name": {
          "type": "string",
          "description": "Source name",
          "format": "string(255)",
          "enum": [
            "csp",
            "cpaui",
            "csv",
            "migration",
            "invoice",
            "sim",
            "community",
            "wcs",
            "pmx"
          ]
        },
        "source-reference": {
          "type": "string",
          "description": "Source reference",
          "format": "string(255)"
        },
        "status": {
          "type": "string",
          "description": "Status",
          "format": "string(255)",
          "readOnly": true
        },
        "supported-transfer-types": {
          "type": "string",
          "description": "Supported transfer types",
          "format": "[]",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "account-name"
      ]
    },
    "CoupaPay-DigitalCheck": {
      "type": "object",
      "properties": {
        "beneficary-name": {
          "type": "string",
          "description": "Beneficary name"
        },
        "check-number": {
          "type": "integer",
          "description": "Check number",
          "format": "integer"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "payment-id": {
          "type": "integer",
          "description": "Payment",
          "format": "integer"
        },
        "status": {
          "type": "string",
          "description": "Status",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "check-number"
      ]
    },
    "CoupaPay-EmployeePaymentAccountSerializer": {
      "type": "object"
    },
    "CoupaPay-Payment": {
      "type": "object",
      "properties": {
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "description": {
          "type": "string",
          "description": "Payment Description",
          "format": "string(255)",
          "readOnly": true
        },
        "digital-check": {
          "$ref": "#/definitions/CoupaPay-DigitalCheck"
        },
        "error-text": {
          "type": "string",
          "description": "Information if a payment error occurs",
          "format": "string(255)",
          "readOnly": true
        },
        "estimated-pay-from-total": {
          "type": "number",
          "description": "The estimated amount in the funding currency",
          "format": "decimal",
          "readOnly": true
        },
        "exchange-rate": {
          "type": "number",
          "description": "Exchange Rate used for conversion of pay from to pay to",
          "format": "decimal(30,9)",
          "readOnly": true
        },
        "exported": {
          "type": "boolean",
          "description": "Indicates if transaction has been exported",
          "format": "boolean",
          "readOnly": true
        },
        "exported?": {
          "type": "boolean",
          "description": "Indicates if transaction has been exported",
          "format": "boolean",
          "readOnly": true
        },
        "external-ref-id": {
          "type": "integer",
          "description": "External Reference ID",
          "format": "integer"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "last-exported-at": {
          "type": "string",
          "description": "Date and time transaction was last exported in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "legal-entity-name": {
          "type": "string",
          "description": "Legal Entity Name",
          "format": "string",
          "readOnly": true
        },
        "line-num": {
          "type": "integer",
          "description": "Line Number of batch",
          "format": "integer",
          "readOnly": true
        },
        "pay-from-account": {
          "$ref": "#/definitions/CoupaPay-CompanyPaymentAccount"
        },
        "pay-from-currency": {
          "$ref": "#/definitions/Currency"
        },
        "pay-from-external-gl-account": {
          "$ref": "#/definitions/ExternalGlAccount"
        },
        "pay-from-total": {
          "type": "number",
          "description": "The amount of funding currency",
          "format": "decimal",
          "readOnly": true
        },
        "pay-to-account": {
          "$ref": "#/definitions/CoupaPay-Payment"
        },
        "pay-to-currency": {
          "$ref": "#/definitions/Currency"
        },
        "pay-to-external-gl-account": {
          "$ref": "#/definitions/ExternalGlAccount"
        },
        "pay-to-total": {
          "type": "number",
          "description": "The amount of transmitted currency",
          "format": "decimal",
          "readOnly": true
        },
        "payee": {
          "description": "Entity receiving the payment. Can be one of multiple objects: CoupaPay::EmployeePaymentAccountSerializer, CoupaPay::SupplierPaymentAccountSerializer, UserSimpleSerializer, SupplierSimpleSerializer",
          "readOnly": true
        },
        "payment-batch": {
          "$ref": "#/definitions/CoupaPay-PaymentBatch"
        },
        "payment-batch-id": {
          "type": "integer",
          "description": "This payments Batch ID",
          "format": "integer",
          "readOnly": true
        },
        "payment-details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoupaPay-PaymentDetail"
          }
        },
        "payment-identifier": {
          "type": "string",
          "description": "Unique identifier for Payment",
          "format": "string(255)",
          "readOnly": true
        },
        "released-at": {
          "type": "string",
          "description": "Date and time transaction was release in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "reporting-currency": {
          "$ref": "#/definitions/Currency"
        },
        "reporting-pay-from-total": {
          "type": "number",
          "description": "The amount of funding currency in the reporting total",
          "format": "decimal",
          "readOnly": true
        },
        "reporting-pay-to-total": {
          "type": "number",
          "description": "The amount of transmitted currency in the reporting total",
          "format": "decimal",
          "readOnly": true
        },
        "requested-execution-date": {
          "type": "string",
          "description": "Requested Execution Date can be used to request the bank to initiate a payment on a specific date",
          "format": "date",
          "readOnly": true
        },
        "source-name": {
          "type": "string",
          "description": "Name of the source system",
          "format": "string(255)",
          "readOnly": true
        },
        "source-reference": {
          "type": "string",
          "description": "Unique reference number from source system",
          "format": "string(255)",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Payment Status",
          "format": "string(255)",
          "readOnly": true
        },
        "supplier-site": {
          "$ref": "#/definitions/SupplierSite"
        },
        "transfer-type": {
          "type": "string",
          "description": "Transfer Type for the Payment",
          "format": "string(255)",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "description": "Type of payment",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "external-ref-id",
        "pay-from-account",
        "pay-to-account",
        "payment-batch"
      ]
    },
    "CoupaPay-PaymentBatch": {
      "type": "object",
      "properties": {
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "description": {
          "type": "string",
          "description": "Description",
          "format": "text",
          "readOnly": true
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      }
    },
    "CoupaPay-PaymentDetail": {
      "type": "object",
      "properties": {
        "adjustment-total": {
          "type": "number",
          "description": "Adjustment total",
          "format": "decimal",
          "readOnly": true
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "currency": {
          "$ref": "#/definitions/CoupaPay-PaymentDetail"
        },
        "discount-total": {
          "type": "number",
          "description": "Discount total",
          "format": "decimal",
          "readOnly": true
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "payable-allocations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Payables-Allocation"
          }
        },
        "payable-document-type": {
          "type": "string",
          "description": "Payable document type",
          "readOnly": true
        },
        "payable-id": {
          "type": "integer",
          "description": "Payable",
          "format": "integer",
          "readOnly": true
        },
        "payable-type": {
          "type": "string",
          "description": "Payable type",
          "format": "string(255)"
        },
        "payment-id": {
          "type": "string",
          "description": "Payment",
          "format": "string(255)",
          "readOnly": true
        },
        "payment-total": {
          "type": "number",
          "description": "Payment total",
          "format": "decimal",
          "readOnly": true
        },
        "source-transaction-id": {
          "type": "string",
          "description": "Source transaction",
          "readOnly": true
        },
        "source-transaction-reference": {
          "type": "string",
          "description": "Source transaction reference",
          "readOnly": true
        },
        "source-transaction-type": {
          "type": "string",
          "description": "Source transaction type",
          "readOnly": true
        },
        "supplier-site": {
          "type": "string",
          "description": "supplier site",
          "readOnly": true
        },
        "transaction-total": {
          "type": "number",
          "description": "Transaction total",
          "format": "decimal",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "payable-type"
      ]
    },
    "CoupaPay-PaymentPartner": {
      "type": "object",
      "properties": {
        "account-types": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoupaPay-PaymentPartner"
          }
        },
        "card-network": {
          "type": "string",
          "description": "Card network",
          "format": "string(255)",
          "readOnly": true
        },
        "configuration": {
          "type": "string",
          "description": "Configuration",
          "format": "text"
        },
        "coupa-pay-id": {
          "type": "integer",
          "description": "Coupa pay",
          "format": "integer"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        },
        "currency-id": {
          "type": "integer",
          "description": "Currency",
          "format": "integer"
        },
        "financial-counterparty": {
          "$ref": "#/definitions/FinancialCounterparty"
        },
        "financial-counterparty-id": {
          "type": "integer",
          "description": "Financial counterparty",
          "format": "integer"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "issuing-bank": {
          "type": "string",
          "description": "Issuing bank",
          "format": "string(255)"
        },
        "name": {
          "type": "string",
          "description": "Name",
          "format": "string(255)"
        },
        "notes": {
          "type": "string",
          "description": "Notes",
          "format": "text"
        },
        "payment-partner-type": {
          "type": "string",
          "description": "Payment partner type",
          "format": "string(255)"
        },
        "po-charge-holding-account": {
          "$ref": "#/definitions/Account"
        },
        "product-names": {
          "type": "string",
          "description": "Product names"
        },
        "products": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CoupaPay-PaymentPartner"
          }
        },
        "status": {
          "type": "string",
          "description": "Status",
          "format": "string(255)",
          "readOnly": true
        },
        "support-contact": {
          "$ref": "#/definitions/UserSimple"
        },
        "type": {
          "type": "string",
          "description": "Type",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "name",
        "payment-partner-type",
        "type"
      ]
    },
    "CoupaPay-SupplierPaymentAccountSerializer": {
      "type": "object"
    },
    "Currency": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "code",
          "format": "string(6)"
        },
        "decimals": {
          "type": "integer",
          "description": "Decimal precision",
          "format": "integer",
          "readOnly": true
        },
        "enabled": {
          "type": "boolean",
          "description": "Enabled",
          "format": "boolean"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(100)"
        },
        "symbol": {
          "type": "string",
          "description": "symbol",
          "format": "string(10)"
        }
      },
      "required": [
        "code",
        "name"
      ]
    },
    "Department": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Control whether the Department is Active or Inactive",
          "format": "boolean",
          "enum": [
            "true",
            "false"
          ]
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Department Name",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "name"
      ]
    },
    "ExternalGlAccount": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "Active",
          "format": "boolean"
        },
        "code": {
          "type": "string",
          "description": "Code",
          "format": "string(255)"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "id": {
          "type": "integer",
          "description": "Coupa Internal ID",
          "format": "integer",
          "readOnly": true
        },
        "legal-entity": {
          "$ref": "#/definitions/LegalEntity"
        },
        "name": {
          "type": "string",
          "description": "Name",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "code",
        "name"
      ]
    },
    "FinancialCounterparty": {
      "type": "object",
      "properties": {
        "abbreviation": {
          "type": "string",
          "description": "Abbreviation",
          "format": "string(50)"
        },
        "active": {
          "type": "boolean",
          "description": "Active",
          "format": "boolean"
        },
        "bank-code": {
          "type": "string",
          "description": "Bank Code",
          "format": "string(16)"
        },
        "branch-code": {
          "type": "string",
          "description": "Branch Code",
          "format": "string(10)"
        },
        "counterparty-address": {
          "$ref": "#/definitions/CounterpartyAddress"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "description": {
          "type": "string",
          "description": "Description",
          "format": "string(500)"
        },
        "external-identification-lei": {
          "type": "string",
          "description": "Legal Entity Identifier (LEI)",
          "format": "string(20)"
        },
        "external-identification-name": {
          "type": "string",
          "description": "Deviating Name",
          "format": "string(100)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa Internal ID",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Name",
          "format": "string(255)"
        },
        "payment-usage": {
          "type": "string",
          "description": "Payment Usage",
          "format": "string(255)"
        },
        "swift-code": {
          "type": "string",
          "description": "Swift Code",
          "format": "string(255)"
        },
        "treasury-usage": {
          "type": "string",
          "description": "Treasury Usage",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "abbreviation",
        "name"
      ]
    },
    "InventoryOrganization": {
      "type": "object",
      "properties": {
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        },
        "fulfillment-type": {
          "type": "string",
          "description": "Fulfillment type",
          "format": "string(255)",
          "enum": [
            "manual",
            "automatic"
          ]
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "warehouses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Warehouse"
          }
        }
      },
      "required": [
        "currency",
        "fulfillment-type"
      ]
    },
    "LegalEntity": {
      "type": "object",
      "properties": {
        "abbreviation": {
          "type": "string",
          "description": "Abbreviation",
          "format": "string(50)"
        },
        "accounting-method": {
          "type": "string",
          "description": "Accounting Method",
          "format": "string(7)",
          "enum": [
            "ifrs",
            "ifrs_9",
            "us_gaap"
          ]
        },
        "active": {
          "type": "boolean",
          "description": "Active",
          "format": "boolean"
        },
        "bill-to-address": {
          "$ref": "#/definitions/BillToAddress"
        },
        "bill-to-addresses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BillToAddress"
          }
        },
        "corporate-sector": {
          "type": "string",
          "description": "Corporate Sector",
          "format": "string(16)"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "currency": {
          "$ref": "#/definitions/Currency"
        },
        "description": {
          "type": "string",
          "description": "Description",
          "format": "string(500)"
        },
        "external-identification-company-code": {
          "type": "string",
          "description": "Company Code",
          "format": "string(11)"
        },
        "external-identification-creditor-id": {
          "type": "string",
          "description": "SEPA Creditor ID",
          "format": "string(35)"
        },
        "external-identification-ic-identifier-gl": {
          "type": "string",
          "description": "IC Identifier for GL Exports",
          "format": "string(50)"
        },
        "external-identification-lei": {
          "type": "string",
          "description": "Legal Entity Identifier",
          "format": "string(20)"
        },
        "external-identification-name-matching": {
          "type": "string",
          "description": "Deviating Name Matching",
          "format": "string(100)"
        },
        "external-identification-name-trading": {
          "type": "string",
          "description": "Deviating Name Trading",
          "format": "string(100)"
        },
        "external-identification-swift": {
          "type": "string",
          "description": "Deviating SWIFT Code",
          "format": "string(11)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa Internal ID",
          "format": "integer",
          "readOnly": true
        },
        "legal-entity-address": {
          "$ref": "#/definitions/LegalEntityAddress"
        },
        "name": {
          "type": "string",
          "description": "Name",
          "format": "string(255)"
        },
        "parent": {
          "$ref": "#/definitions/LegalEntity"
        },
        "swift-code": {
          "type": "string",
          "description": "SWIFT Code",
          "format": "string(11)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "use-fx-rates-reciprocal": {
          "type": "boolean",
          "description": "Use FX rates reciprocal",
          "format": "boolean"
        }
      },
      "required": [
        "abbreviation",
        "currency",
        "name"
      ]
    },
    "LegalEntityAddress": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A no value will make the address inactive making it no longer available to users.  A yes value will make it active and available to users.",
          "format": "boolean"
        },
        "attention": {
          "type": "string",
          "description": "Address Default Attention Line",
          "format": "string(255)"
        },
        "business-group-name": {
          "type": "string",
          "description": "Content Group Name for Address",
          "format": "string"
        },
        "city": {
          "type": "string",
          "description": "City Name",
          "format": "string(255)"
        },
        "content-groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BusinessGroup"
          }
        },
        "country": {
          "$ref": "#/definitions/Country"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "external-src-name": {
          "type": "string",
          "description": "External Source Name",
          "format": "string(255)"
        },
        "external-src-ref": {
          "type": "string",
          "description": "External Source Reference",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa Internal Address ID",
          "format": "integer",
          "readOnly": true
        },
        "local-tax-number": {
          "type": "string",
          "description": "Local Tax Number",
          "format": "string(255)"
        },
        "location-code": {
          "type": "string",
          "description": "location_code",
          "format": "string(255)"
        },
        "name": {
          "type": "string",
          "description": "Address 'Nickname'",
          "format": "string(255)"
        },
        "postal-code": {
          "type": "string",
          "description": "Postal Code",
          "format": "string(10)"
        },
        "purposes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Purpose"
          }
        },
        "state": {
          "type": "string",
          "description": "State Name for Address",
          "format": "string(255)"
        },
        "state-iso-code": {
          "type": "string",
          "description": "ISO Code for the State",
          "format": "string(255)"
        },
        "street1": {
          "type": "string",
          "description": "Address Line 1",
          "format": "string(255)"
        },
        "street2": {
          "type": "string",
          "description": "Address Line 2",
          "format": "string(255)"
        },
        "street3": {
          "type": "string",
          "description": "Address Line 3",
          "format": "string(255)"
        },
        "street4": {
          "type": "string",
          "description": "Address Line 4",
          "format": "string(255)"
        },
        "tax-registrations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Address"
          }
        },
        "type": {
          "type": "string",
          "description": "Address type",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "vat-country": {
          "$ref": "#/definitions/Country"
        },
        "vat-number": {
          "type": "string",
          "description": "VAT identification number used for value added tax purposes",
          "format": "string(255)"
        }
      },
      "required": [
        "city",
        "country",
        "local-tax-number",
        "postal-code",
        "street1"
      ]
    },
    "Payables-Allocation": {
      "type": "object",
      "properties": {
        "bypass-strict-validations": {
          "type": "boolean",
          "description": "Flag indicating that this allocation is confirmed to be correct. Skips overallocation validations",
          "format": "boolean"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "exported?": {
          "type": "boolean",
          "description": "Flag indicating whether the transaction has been exported to an external system",
          "format": "boolean",
          "readOnly": true
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "last-exported-at": {
          "type": "string",
          "description": "Date of last update to the allocation",
          "format": "datetime",
          "readOnly": true
        },
        "payable-from-amount": {
          "type": "number",
          "description": "Amount allocated in currency of the document sending the allocation",
          "format": "decimal(46,20)"
        },
        "payable-from-currency": {
          "$ref": "#/definitions/Currency"
        },
        "payable-from-id": {
          "type": "integer",
          "description": "Coupa ID of the payable document sending the allocation",
          "format": "integer"
        },
        "payable-from-type": {
          "type": "string",
          "description": "Type of payable document sending the allocation",
          "format": "string(255)"
        },
        "payable-to-amount": {
          "type": "number",
          "description": "Amount allocated in currency of the document receiving the allocation",
          "format": "decimal(46,20)"
        },
        "payable-to-currency": {
          "$ref": "#/definitions/Currency"
        },
        "payable-to-id": {
          "type": "integer",
          "description": "Coupa ID of the payable document receiving the allocation",
          "format": "integer"
        },
        "payable-to-type": {
          "type": "string",
          "description": "Type of payable document receiving the allocation",
          "format": "string(255)"
        },
        "payment-reference-id": {
          "type": "integer",
          "description": "Coupa ID of payment reference",
          "format": "integer",
          "readOnly": true
        },
        "payment-reference-type": {
          "type": "string",
          "description": "Type of payment reference",
          "format": "string(255)",
          "readOnly": true
        },
        "reason-code": {
          "type": "string",
          "description": "Code indicating the trigger for this allocation",
          "format": "string(40)",
          "enum": [
            "payment",
            "auto_payment",
            "epr",
            "epr_rejected",
            "manual"
          ]
        },
        "source": {
          "type": "string",
          "description": "Originating system (ERP, Coupa Pay, UI, etc)",
          "format": "string(255)",
          "readOnly": true,
          "enum": [
            "coupa_pay",
            "erp",
            "ui",
            "api",
            "csv",
            "early_pay_discount"
          ]
        },
        "source-transaction-from-id": {
          "type": "string",
          "description": "Coupa ID of the source transaction on the sending side",
          "format": "string",
          "readOnly": true
        },
        "source-transaction-from-reference": {
          "type": "string",
          "description": "Reference number of the source transaction on the sending side",
          "format": "string",
          "readOnly": true
        },
        "source-transaction-from-type": {
          "type": "string",
          "description": "Type of the source transaction on the sending side",
          "format": "string",
          "readOnly": true
        },
        "source-transaction-to-id": {
          "type": "string",
          "description": "Coupa ID of the source transaction on the receiving side",
          "format": "string",
          "readOnly": true
        },
        "source-transaction-to-reference": {
          "type": "string",
          "description": "Reference number of the source transaction on the receiving side",
          "format": "string",
          "readOnly": true
        },
        "source-transaction-to-type": {
          "type": "string",
          "description": "Type of the source transaction on the receiving side",
          "format": "string",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Current status of the allocation",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "payable-from-amount",
        "payable-from-currency",
        "payable-to-amount",
        "payable-to-currency"
      ]
    },
    "PaymentTerm": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A false value will inactivate the account making it no longer available to users.  A true value will make it active and available to users.",
          "format": "boolean",
          "enum": [
            "true"
          ]
        },
        "active?": {
          "type": "string",
          "description": "A false value will inactivate the account making it no longer available to users.  A true value will make it active and available to users.",
          "format": "true",
          "readOnly": true
        },
        "code": {
          "type": "string",
          "description": "code",
          "format": "string(255)"
        },
        "content-groups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BusinessGroup"
          }
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "days-for-discount-payment": {
          "type": "integer",
          "description": "days_for_discount_payment",
          "format": "integer"
        },
        "days-for-net-payment": {
          "type": "integer",
          "description": "days_for_net_payment",
          "format": "integer"
        },
        "description": {
          "type": "string",
          "description": "description",
          "format": "string(255)"
        },
        "discount-cutoff-day": {
          "type": "integer",
          "description": "Document before this day are eligible for discount else they will fall into the next month",
          "format": "integer"
        },
        "discount-due-day": {
          "type": "integer",
          "description": "This field is used to calculate the document's discount due date.",
          "format": "integer"
        },
        "discount-due-month": {
          "type": "integer",
          "description": "This field is used to calculate the document's discount due date along with the discount due day.",
          "format": "integer"
        },
        "discount-rate": {
          "type": "number",
          "description": "discount_rate",
          "format": "float"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "net-cutoff-day": {
          "type": "integer",
          "description": "This helps to determine payment due date if the document should be counted against this month or next",
          "format": "integer"
        },
        "net-due-day": {
          "type": "integer",
          "description": "This helps to determine the document's payment due date",
          "format": "integer"
        },
        "net-due-month": {
          "type": "integer",
          "description": "This helps to determine the document's payment due date",
          "format": "integer"
        },
        "type": {
          "type": "string",
          "description": "Type can be either DaysAfterNetPaymentTerm or SpecificDayPaymentTerm",
          "format": "string(50)",
          "enum": [
            "DaysAfterNetPaymentTerm",
            "SpecificDayPaymentTerm",
            "BaseEomToDaysPaymentTerm",
            "DaysToBaseEomPaymentTerm"
          ]
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "code",
        "days-for-discount-payment",
        "days-for-net-payment",
        "discount-due-day",
        "discount-due-month",
        "net-due-day",
        "net-due-month",
        "type"
      ]
    },
    "Pcard": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A false value will inactivate the account making it no longer available to users.  A true value will make it active and available to users.",
          "format": "boolean"
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "cvv": {
          "type": "string",
          "description": "cvv",
          "readOnly": true
        },
        "expiry": {
          "type": "string",
          "description": "expiry",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(255)"
        },
        "nickname": {
          "type": "string",
          "description": "nickname",
          "format": "string(255)"
        },
        "number": {
          "type": "string",
          "description": "number",
          "format": "string"
        },
        "shared": {
          "type": "boolean",
          "description": "shared",
          "format": "boolean"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "expiry",
        "name",
        "number"
      ]
    },
    "PhoneNumber": {
      "type": "object",
      "properties": {
        "area-code": {
          "type": "string",
          "description": "area_code",
          "format": "string(255)",
          "readOnly": true
        },
        "country-code": {
          "type": "string",
          "description": "country_code",
          "format": "string(255)",
          "readOnly": true
        },
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "extension": {
          "type": "string",
          "description": "extension",
          "format": "string(255)",
          "readOnly": true
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "number": {
          "type": "string",
          "description": "number",
          "format": "string(255)",
          "readOnly": true
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      }
    },
    "Purpose": {
      "type": "object",
      "properties": {
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "kind": {
          "type": "string",
          "description": "Kind",
          "format": "string(255)"
        },
        "name": {
          "type": "string",
          "description": "Name",
          "format": "string(255)"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      },
      "required": [
        "kind",
        "name"
      ]
    },
    "Role": {
      "type": "object",
      "properties": {
        "created-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "created-by": {
          "$ref": "#/definitions/UserSimple"
        },
        "description": {
          "type": "string",
          "description": "description",
          "format": "string(255)"
        },
        "id": {
          "type": "integer",
          "description": "Coupa unique identifier",
          "format": "integer",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "name",
          "format": "string(255)"
        },
        "omnipotent": {
          "type": "boolean",
          "description": "omnipotent",
          "format": "boolean"
        },
        "system-role": {
          "type": "boolean",
          "description": "system_role",
          "format": "boolean"
        },
        "updated-at": {
          "type": "string",
          "description": "Automatically created by Coupa in the format YYYY-MM-DDTHH:MM:SS+HH:MMZ",
          "format": "datetime",
          "readOnly": true
        },
        "updated-by": {
          "$ref": "#/definitions/UserSimple"
        }
      }
    },
    "ShippingTerm": {
      "type": "object",
      "properties": {
        "active": {
          "type": "boolean",
          "description": "A false value will inactivate the account making it no longer available to users.  A true value will make it active and available to users.",
          "format": "boolean",
          "enum": [
            "true"
          ]
        },
        "active?": {
          "type": "string",
          "description": "A false value will inactivate the account making it no longer available to users.  A true value will make it active and available to users.",
          "format": "true",
          "readOnly": true
        },
[...]
